body {
    min-height: 100vh;
}


#main {
    margin-left: 250px;
}

@media(min-width: 768px) {
    #main {
        width: inherit !important;
    }
}

@media(max-width: 767px) {
    #main {
        margin-left: 250px;
    }

    #main section {
        font-size: 1em !important;
    }
}

#main section {
    padding:30px;
    font-size: .98em;
}

#main section input, #main section button {
    font-size: 1em;
}
