body {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 123, 0, 0.8)), url('../images/bg.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-weight: 600;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 83vh !important;
    text-align: center;
}

.wrapper .info {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
}

.wrapper .info .logo {
    max-height: 45px;
    margin-bottom: 15px;
}

.wrapper .content {
    background: #fff;
    width: 330px;
    padding: 45px 60px;
}

.wrapper .content .escolha-login a{
    text-decoration: none;
    color: #232323;
    border: 1px solid #232323;
    padding: 10px;
    display: block;
}


.login-form button {
    all:unset;
    padding: 10px 20px;
    border: 1px solid #FF0100;
    color: #FF0100;
    font-weight: 700;
}

@media(min-width: 768px) {
    .login-form {
        font-size: .9em;
    }
}


.voltar-escolha-login {
    font-weight: 500;
}


footer {
    margin: 0 auto;
    text-align:center;
    color: #fff;
    font-weight: 400;
}

footer span {
    font-weight: 700;
}