body {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 123, 0, 0.8)), url('../images/bg.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-weight: 600;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: inherit !important;
    text-align: center;
    position: relative;
}

.wrapper .info {
    top: 10%;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    padding: 0 10px;
}

.wrapper .info .logo {
    max-height: 45px;
    margin-bottom: 10px;
}

@media(max-width: 991px) {
    .wrapper .info {
        top: 6%;
        font-size: .8em;
    }

    .wrapper .info .logo {
        max-height: 35px;
    }
}

@media(max-width: 320px) and (max-height: 568px) {
    .wrapper .info p {
        display: none;
    }
}

.wrapper .content {
    background: #fff;
    width: 330px;
    padding: 45px 60px;
}

.wrapper .content .escolha-login a{
    text-decoration: none;
    color: #232323;
    border: 1px solid #232323;
    padding: 10px;
    display: block;
}


.login-form button {
    all:unset;
    padding: 10px 20px;
    border: 1px solid #FF0100;
    color: #FF0100;
    font-weight: 700;
}

@media(min-width: 768px) {
    .login-form {
        font-size: .9em;
    }
}


.voltar-escolha-login {
    font-weight: 500;
}


footer {
    position: absolute;
    text-align:center;
    color: #fff;
    font-weight: 400;
    bottom: 7%;
}

footer p {margin-bottom: 0;}
footer p span {font-weight: 700;}