*, *::before, *::after {
    box-sizing: border-box;
}

input, textarea, button {
    border-radius: 0 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: black;
  box-shadow:none;
  outline: 0 none;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.04);
}

/* Navbar */
nav {
    font-size: .9em;
    font-weight: 600 !important;
    transition: margin-left .5s;
    z-index: 6 !important;
    -webkit-box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

@media(max-width: 767px){
    .navbar-collapse {
        padding: .5rem 1rem !important;
    }
}

nav .navbar-brand {
    padding: 15px 67px;
    background: linear-gradient(to right, #FF0100, #FF7D00);
}

nav .navbar-brand img {
    max-height: 30px;
}

nav .navbar-nav .entrar {
    border: 1px solid #FF0100;
}

@media(max-width: 767px){
    nav .navbar-nav .entrar {
        padding: 0 10px;
    }
}

nav .dropdown-menu {
    border-radius: 0;
}

nav .dropdown-menu a {
    font-size: .9em;
}

nav .navbar-nav .entrar a {
    color: #FF0100 !important;
    font-weight: 700;
}
/* Navbar */


/* Cabeçalho da Página */
#main .header {
    background: linear-gradient(to right, #FF0100, #FF7D00);
    display: block;
    color: #fff;
    padding: 13px 30px;
    font-weight: 700;
    font-size: 1.3em;
}

#main .header i {
    margin-right: .5rem !important;
}

/* Conteúdo da Página */
#main section {
    background-color: #fff !important;
    min-height: 70vh;
    padding: 20px 40px;
}
