*, *::before, *::after {
    box-sizing: border-box;
}

input, textarea, button, .btn {
    border-radius: 0 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: black !important;
  box-shadow:none !important;
  outline: 0 none !important;
}

input[type="file"] {
    min-width: 30% !important;
}

.table, .table thead tr, .table thead th {
    border: none !important;
}

button.close {
    font-size: 1.5rem !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.04);
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}

.circle img {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}

/* Navbar */
nav {
    font-size: .95em;
    font-weight: 600 !important;
    transition: margin-left .5s;
    z-index: 6 !important;
    -webkit-box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 5px 34px 0px rgba(0,0,0,0.05);
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

/* @media(max-width: 767px){ */
@media(max-width: 991px){
    .navbar-collapse {
        padding: .5rem 1rem !important;
    }
    .navbar-collapse ul li {
        margin-left: auto;
    }
    .navbar-collapse .bottom-notification{
        margin-left: auto;
    }
    
}

nav .navbar-brand {
    padding: 15px 82px;
    background: linear-gradient(to right, #FF0100, #FF7D00);
    margin-right: 1rem;
}

nav .navbar-brand img {
    max-height: 30px;
}

nav .dropdown-menu {
    border-radius: 0;
}

nav .dropdown-menu a {
    font-size: .95em;
}

.btn-outline-laranja {
    border: 1px solid #FF0100;
    color: #FF0100 !important;
    font-weight: 700;
    -webkit-transition: right 0.3s; /* For Safari 3.1 to 6.0 */
      transition: right 0.3s;
}
.btn-outline-laranja:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 123, 0, 0.8));
    color: white !important;
    -webkit-transition: right 0.3s; /* For Safari 3.1 to 6.0 */
    transition: right 0.3s;
}
/* Fim Navbar */

#main{
    margin-top: 61px; /* Tamanho da navbar */
    /* transition: all 7s; */
}

/* Cabeçalho da Página */
#main .header {
    background: linear-gradient(to right, #FF0100, #FF7D00);
    display: block;
    color: #fff;
    padding: 13px 30px;
    font-weight: 700;
    font-size: 1.0em;
}

/* #main .header i {
    margin-right: .5rem !important;
} */

#main .header a {
    color: white;
}

/* Conteúdo da Página */
#main section {
    background-color: #fff !important;
    min-height: 70vh;
    padding: 35px 40px;
}

/* Imagem de usuário */
.img-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-media{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-pequena{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-solicitacao{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}
/* Fim Imagem de usuário */

/* Telas de Solicitacoes e Co-o-rientandos */

.div-personalizada{
    display: flex;
    text-align: center;
    padding: 5px 0px;
}

.div-img-solicitacao {
    display: flex;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin: 0px 40px 0px 30px;
}

.div-img-media {
    display: flex;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    margin: 0px 40px 0px 30px;
}

@media(max-width: 767px){
    .div-personalizada{
        flex-flow: column wrap;
    }
    .div-img-solicitacao {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0px 0px 10px 0px;
    }
    .div-img-media {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0px 0px 10px 0px;
    }
}

/* Fim solicitacoes e co-o-rientandos */


/* Notificações */

.bottom-notification {
    position:relative;
    /* width: 35px; */
    /* top:30%;*/
    /* left:70%;  */
    /* transform:translate(-50%,-50%); */
    /* margin: auto; */
}

.bottom-notification:hover .notifications .fa {
    color: rgba(0,0,0,0.4);
}

.bottom-notification.active .notifications .fa{
    color: rgba(0,0,0,0.4);
}

.notifications {
    width:32px;
    height:32px;
    background:#f7f7f7;
    border-radius:30px;
    box-sizing:border-box;
    text-align:center;
    /* box-shadow:0 2px 5px rgba(0,0,0,.2); */
}
.notifications .fa {
    color:#c7c7c7;
    line-height:32px;
    font-size:17px;
}
.notifications .num {
    position:absolute;
    top:0;
    right:-5px;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#FF0100;
    color:#fff;
    line-height:15px;
    font-size:12px;
    font-family:sans-serif;
    text-align:center;
}

.caixa-notificacao{
    min-height: 40px;
    /* display: flex; */
}
.caixa-notificacao .data-notificacao{
    width: 100%;
}
.caixa-notificacao .mensagem-notificacao{
    width: 100%;
}

/* Fim Notificações */
