*, *::before, *::after {
    box-sizing: border-box;
}

input, select, textarea, button, .btn {
    border-radius: 0 !important;
}

/* Botoes */

.btn-outline-laranja {
    border: 1px solid #FF0100;
    color: #FF0100 !important;
    font-weight: 700;
    -webkit-transition: right 0.3s; /* For Safari 3.1 to 6.0 */
      transition: right 0.3s;
}
.btn-outline-laranja:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 123, 0, 0.8));
    color: white !important;
    -webkit-transition: right 0.3s; /* For Safari 3.1 to 6.0 */
    transition: right 0.3s;
}

.btn-outline-primary-2 {
    color: #007bff;
    border-color: #007bff;
}
.btn-outline-primary-2:hover {
    color: #007bff;
    background-color: #00000007;
}


.btn-secondary-2 {
    color: #6c757d;
    border-color: #ced4da;
    background-color: #00000010;
}
.btn-secondary-2:hover {
    background-color: #00000015;
}
.btn-outline-secondary-2 {
    color: #6c757d;
    border-color: #ced4da;
}
.btn-outline-secondary-2:hover {
    background-color: #00000010;
}

/* Fim Botoes */

textarea:focus,
select:focus,
.button-senha:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: black !important;
  box-shadow:none !important;
  outline: 0 none !important;
}

input[type="file"] {
    min-width: 30% !important;
}

.table, .table thead tr, .table thead th {
    border: none !important;
}

button.close {
    font-size: 1.5rem !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.04);
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}

.circle img {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}

/* Fim Navbar */

#main{
    transition: margin-left .4s;
    padding: 20px;
    margin-top: 60px;
    /* margin-top: 61px; Tamanho da navbar */
    /* transition: all 7s; */
}

/* Cabeçalho da Página */
#main .header {
    background: linear-gradient(to right, #FF0100, #FF7D00);
    display: block;
    color: #fff;
    padding: 13px 30px;
    font-weight: 700;
    font-size: 1.0em;
}

/* #main .header i {
    margin-right: .5rem !important;
} */

#main .header a {
    color: white;
}

/* Conteúdo da Página */
#main section {
    background-color: #fff !important;
    min-height: 70vh;
    padding: 35px 40px;
}

/* Imagem de usuário */
.img-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-media{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-pequena{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}

.img-perfil-solicitacao{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}
/* Fim Imagem de usuário */

/* Telas de Solicitacoes e Co-o-rientandos */

.div-personalizada{
    display: flex;
    text-align: center;
    padding: 5px 0px;
}

.div-img-solicitacao {
    display: flex;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin: 0px 40px 0px 30px;
}

.div-img-media {
    display: flex;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    margin: 0px 40px 0px 30px;
}

/* Fim solicitacoes e co-o-rientandos */


/* Notificações */

.caixa-notificacao{
    min-height: 40px;
    /* display: flex; */
}
.caixa-notificacao .data-notificacao{
    width: 100%;
}
.caixa-notificacao .mensagem-notificacao{
    width: 100%;
}

/* Fim Notificações */

/* Scrollbar */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Fim Scrollbar */


/* Paginação */
.pagination > li > a,
.pagination > li > span {
    color: #6c757d !important;
    border-color: #ced4da !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #00000015 !important;
    cursor:pointer;
    z-index:2;
}

/* Fim Paginação */

@media(max-width: 767px){
    .div-personalizada{
        flex-flow: column wrap;
    }
    .div-img-solicitacao {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0px 0px 10px 0px;
    }
    .div-img-media {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0px 0px 10px 0px;
    }
    #main{
        margin-top: 93px; /* Tamanho da navbar */
    }
}