.sidenav {
    height: 100%; /* 100% Full-height */
    width: 220px; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(48,48,48);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
}

@media(max-width: 767px) {
    .sidenav {
        width: 0;
    }
}

.sidenav h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: rgb(163, 163, 163);
    padding: 20px 8px 15px 20px;
}

.sidenav a {
    padding: 12px 8px 12px 20px;
    text-decoration: none;
    font-size: .9em;
    color: rgb(182, 182, 182);
    display: block;
    transition: 0.2s;
    font-weight: 600;
    white-space: nowrap;
}

.sidenav a i {
    color: rgb(150, 150, 150);
    margin-right: 10px;
}

.sidenav a:hover{
    background-color: rgb(56, 56, 56);
}

.sidenav .active{
    color: rgb(243, 243, 243);
    background-color: rgb(66, 66, 66);
}

.sidenav .active i {
    color: rgb(223, 83, 48);
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}